html, body {
    height: 100%;
}

body {
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#canvas {
    width: 90%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;    
    height: 80px;    
    border-radius: 40px;
    transition: all .2s ease-out;
    background-color: #00b2eb;
}

.button.recording {
    border-radius: 3px;
}

.button-icon {
    width: 68px;
    height: 68px;
    border-radius: 34px;
    border: 2px solid #FFF;
    transition: all .2s ease-out;
}

.button-icon.recording {
    border-radius: 3px;
}

#record-button circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke-width: 0.3em;
}

#record-button #bar {
    stroke: #00b2eb;
}

#control-panel {
    position: relative;
}

#control-panel img {
    user-select: none;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
}

#control-panel.recording .record-icon {
    display: none;
}

#control-panel.recording .stop-icon {
    display: block;
}

#control-panel .stop-icon {
    display: none;
}